# Limpieza de datos

In [3]:
import pandas as pd
from pymongo import MongoClient
from dotenv import load_dotenv
import os

load_dotenv()

True

### Poblacion

In [5]:
df = pd.read_csv("../data/Data-csv/population.csv")
df.head()

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124

In [6]:
df.shape

(70080, 8)

In [7]:
df.columns

Index(['Year', 'District.Code', 'District.Name', 'Neighborhood.Code',
       'Neighborhood.Name', 'Gender', 'Age', 'Number'],
      dtype='object')

In [8]:
df.duplicated(['Year', 'District.Code', 'District.Name', 'Neighborhood.Code',
       'Neighborhood.Name', 'Gender', 'Age', 'Number']).sum()

4277

In [9]:
df[df.duplicated(subset=['Year', 'District.Code', 'District.Name', 'Neighborhood.Code',
       'Neighborhood.Name', 'Gender', 'Age', 'Number'], keep=False)].sort_values(by=['Neighborhood.Name']).head()

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number
48602,2014,9,Sant Andreu,58,Baró de Viver,Male,85-89,3
20278,2016,9,Sant Andreu,58,Baró de Viver,Male,85-89,2
53274,2014,9,Sant Andreu,58,Baró de Viver,Female,55-59,16
38674,2015,9,Sant Andreu,58,Baró de Viver,Female,45-49,29
45171,2014,9,Sant Andreu,58,Baró de Viver,Male,40-44,23

In [10]:
df.isna().sum()

Year                 0
District.Code        0
District.Name        0
Neighborhood.Code    0
Neighborhood.Name    0
Gender               0
Age                  0
Number               0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70080 entries, 0 to 70079
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               70080 non-null  int64
 1   District.Code      70080 non-null  int64
 2   District.Name      70080 non-null  object
 3   Neighborhood.Code  70080 non-null  int64
 4   Neighborhood.Name  70080 non-null  object
 5   Gender             70080 non-null  object
 6   Age                70080 non-null  object
 7   Number             70080 non-null  int64
dtypes: int64(4), object(4)
memory usage: 4.3+ MB

In [12]:
df.describe()

               Year  District.Code  Neighborhood.Code        Number
count  70080.000000   70080.000000       70080.000000  70080.000000
mean    2015.000000       6.246575          37.000000    114.844720
std        1.414224       2.788356          21.071458     96.540389
min     2013.000000       1.000000           1.000000      0.000000
25%     2014.000000       4.000000          19.000000     43.000000
50%     2015.000000       7.000000          37.000000     92.000000
75%     2016.000000       8.000000          55.000000    162.000000
max     2017.000000      10.000000          73.000000    777.000000

In [13]:
df.describe(include = 'object')

       District.Name Neighborhood.Name Gender    Age
count          70080             70080  70080  70080
unique            10                73      2     20
top       Nou Barris          el Raval   Male    0-4
freq           12480               960  35040   3650

In [14]:
df["Year"].unique()

array([2017, 2016, 2015, 2014, 2013])

In [15]:
df['District-Neighborhood'] = df[['District.Name', 'Neighborhood.Name']].apply('-'.join, axis=1)
df['District-Neighborhood'].unique()

array(['Ciutat Vella-el Raval', 'Ciutat Vella-el Barri Gòtic',
       'Ciutat Vella-la Barceloneta',
       'Ciutat Vella-Sant Pere, Santa Caterina i la Ribera',
       'Eixample-el Fort Pienc', 'Eixample-la Sagrada Família',
       "Eixample-la Dreta de l'Eixample",
       "Eixample-l'Antiga Esquerra de l'Eixample",
       "Eixample-la Nova Esquerra de l'Eixample", 'Eixample-Sant Antoni',
       'Sants-Montjuïc-el Poble Sec',
       'Sants-Montjuïc-la Marina del Prat Vermell',
       'Sants-Montjuïc-la Marina de Port',
       'Sants-Montjuïc-la Font de la Guatlla',
       'Sants-Montjuïc-Hostafrancs', 'Sants-Montjuïc-la Bordeta',
       'Sants-Montjuïc-Sants - Badal', 'Sants-Montjuïc-Sants',
       'Les Corts-les Corts', 'Les Corts-la Maternitat i Sant Ramon',
       'Les Corts-Pedralbes',
       'Sarrià-Sant Gervasi-Vallvidrera, el Tibidabo i les Planes',
       'Sarrià-Sant Gervasi-Sarrià',
       'Sarrià-Sant Gervasi-les Tres Torres',
       'Sarrià-Sant Gervasi-Sant Gervasi - la Bonanova',
       'Sarrià-Sant Gervasi-Sant Gervasi - Galvany',
       'Sarrià-Sant Gervasi-el Putxet i el Farró',
       'Gràcia-Vallcarca i els Penitents', 'Gràcia-el Coll',
       'Gràcia-la Salut', 'Gràcia-la Vila de Gràcia',
       "Gràcia-el Camp d'en Grassot i Gràcia Nova",
       'Horta-Guinardó-el Baix Guinardó', 'Horta-Guinardó-Can Baró',
       'Horta-Guinardó-el Guinardó',
       "Horta-Guinardó-la Font d'en Fargues", 'Horta-Guinardó-el Carmel',
       'Horta-Guinardó-la Teixonera',
       'Horta-Guinardó-Sant Genís dels Agudells',
       'Horta-Guinardó-Montbau', "Horta-Guinardó-la Vall d'Hebron",
       'Horta-Guinardó-la Clota', 'Horta-Guinardó-Horta',
       'Nou Barris-Vilapicina i la Torre Llobeta', 'Nou Barris-Porta',
       'Nou Barris-el Turó de la Peira', 'Nou Barris-Can Peguera',
       'Nou Barris-la Guineueta', 'Nou Barris-Canyelles',
       'Nou Barris-les Roquetes', 'Nou Barris-Verdun',
       'Nou Barris-la Prosperitat', 'Nou Barris-la Trinitat Nova',
       'Nou Barris-Torre Baró', 'Nou Barris-Ciutat Meridiana',
       'Nou Barris-Vallbona', 'Sant Andreu-la Trinitat Vella',
       'Sant Andreu-Baró de Viver', 'Sant Andreu-el Bon Pastor',
       'Sant Andreu-Sant Andreu', 'Sant Andreu-la Sagrera',
       'Sant Andreu-el Congrés i els Indians', 'Sant Andreu-Navas',
       "Sant Martí-el Camp de l'Arpa del Clot", 'Sant Martí-el Clot',
       'Sant Martí-el Parc i la Llacuna del Poblenou',
       'Sant Martí-la Vila Olímpica del Poblenou',
       'Sant Martí-el Poblenou',
       'Sant Martí-Diagonal Mar i el Front Marítim del Poblenou',
       'Sant Martí-el Besòs i el Maresme',
       'Sant Martí-Provençals del Poblenou',
       'Sant Martí-Sant Martí de Provençals',
       'Sant Martí-la Verneda i la Pau'], dtype=object)

In [16]:
df.head()

,Year,District.Code,District.Name,Neighborhood.Code,Neighborhood.Name,Gender,Age,Number,District-Neighborhood
0,2017,1,Ciutat Vella,1,el Raval,Male,0-4,224,Ciutat Vella-el Raval
1,2017,1,Ciutat Vella,2,el Barri Gòtic,Male,0-4,50,Ciutat Vella-el Barri Gòtic
2,2017,1,Ciutat Vella,3,la Barceloneta,Male,0-4,43,Ciutat Vella-la Barceloneta
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,0-4,95,"Ciutat Vella-Sant Pere, Santa Caterina i la Ri..."
4,2017,2,Eixample,5,el Fort Pienc,Male,0-4,124,Eixample-el Fort Pienc

In [18]:
user = os.getenv("MONGO_USER")
password = os.getenv("MONGO_PASS")

In [19]:
url = f"mongodb+srv://{user}:{password}@databcn.ot3vw.mongodb.net/test"
client = MongoClient(url)
client

MongoClient(host=['databcn-shard-00-02.ot3vw.mongodb.net:27017', 'databcn-shard-00-00.ot3vw.mongodb.net:27017', 'databcn-shard-00-01.ot3vw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-bnysob-shard-0', ssl=True)

In [23]:
db = client.get_database("databcn")
db

Database(MongoClient(host=['databcn-shard-00-02.ot3vw.mongodb.net:27017', 'databcn-shard-00-00.ot3vw.mongodb.net:27017', 'databcn-shard-00-01.ot3vw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-bnysob-shard-0', ssl=True), 'databcn')

In [33]:
hola = df.to_dict("index")
pob = [i for i in hola.values()]

In [34]:
db.poblacion.insert_many(pob)

### Desempleo

In [54]:
dfu = pd.read_csv("../Data-csv/unemployment.csv")
dfu.head()

,Year,Month,District Code,District Name,Neighborhood Code,Neighborhood Name,Gender,Demand_occupation,Number
0,2017,January,1,Ciutat Vella,1,el Raval,Male,Registered unemployed,2107
1,2017,January,1,Ciutat Vella,2,el Barri Gòtic,Male,Registered unemployed,538
2,2017,January,1,Ciutat Vella,3,la Barceloneta,Male,Registered unemployed,537
3,2017,January,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Male,Registered unemployed,741
4,2017,January,2,Eixample,5,el Fort Pienc,Male,Registered unemployed,630

In [50]:
dfu.shape

(14208, 9)

In [58]:
dfu.columns

Index(['Year', 'Month', 'District Code', 'District Name', 'Neighborhood Code',
       'Neighborhood Name', 'Gender', 'Demand_occupation', 'Number'],
      dtype='object')

In [61]:
dfu.duplicated(['Year', 'Month', 'District Code', 'District Name', 'Neighborhood Code',
       'Neighborhood Name', 'Gender', 'Demand_occupation', 'Number']).sum()

0

In [63]:
dfu.isna().sum()

Year                 0
Month                0
District Code        0
District Name        0
Neighborhood Code    0
Neighborhood Name    0
Gender               0
Demand_occupation    0
Number               0
dtype: int64

In [64]:
dfu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14208 entries, 0 to 14207
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               14208 non-null  int64
 1   Month              14208 non-null  object
 2   District Code      14208 non-null  int64
 3   District Name      14208 non-null  object
 4   Neighborhood Code  14208 non-null  int64
 5   Neighborhood Name  14208 non-null  object
 6   Gender             14208 non-null  object
 7   Demand_occupation  14208 non-null  object
 8   Number             14208 non-null  int64
dtypes: int64(4), object(5)
memory usage: 999.1+ KB